{% extends 'base.html' %}

{% block title %}Agava мессенджер{% endblock %}

{% block content %}
<strong>API</strong>
<p>API соответствует спецификации <a href="http://www.jsonrpc.org/specification">JSON-RPC 2.0</a></p>
<p>Для вызова метода необходимо отправить HTTP POST запрос на <a href="{% url 'jsonrpc' %}">этот URL</a></p>
<p>Для каждого чата предусмотрен URL, на который, при получении в чат нового сообщения,
    POST-запросом отправляется JSON-объект.<br>
    Если полученное сообщение является ответом на какое-то другое сообщение (то-есть пользователь
    выбрал сообщение и нажал "Ответить на это сообщение"), то также отправляется аналогичный JSON-объект
    сообщения-запроса (на которое пришёл ответ).<br>
    Оба этих объекта (или только один, в случае, если сообщения-запроса не было) являются значениями
    в словаре, с ключами "message" и "request_msg" соответственно. Этот словарь и отправляется POST-запросом
    на API_URL, предусмотренный для чата.</p>
    Пример такого объекта:
<pre>
{
    "message": {
        "body": "ОМ",
        "tg_id": 123,
        "recipient": "ProjectName",
        "sender": "vonabarak",
        "time": "2015-08-14T16:30:51+00:00",
        "reply": 122
    },
    "request_msg": {
        "body": "#12345 Произошла неведомая хрень с таким-то сервером",
        "tg_id": 122,
        "recipient": "ProjectName",
        "sender": "tgsrv",
        "time": "2015-08-14T16:29:52+00:00",
        "reply": null
    }
}

</pre>



<p><strong>Аутентификация и права</strong></p>
Аутентификация возможна двумя способами:<br/>
1. С помощью браузера на странице <a href="{% url 'login' %}">логина</a>.<br/>
2. HTTP Basic Auth в заголовках HTTP-запроса.<br/>
Логин/пароль из LDAP. Также можно добавить локального юзера в <a href="{% url 'admin:index' %}">админке</a><br/>
Для каждого телеграммовского чата/пользователя предусмотрено поле group для ограничения возможности отправки
сообщений. Если это поле не определено (по умолчанию), то в чат/пользователю может отправлять сообщения
любой залогинившийся пользователь мессенджера (пользователи мессендера не имеют отношения к пользователям
телеграма, это две разные сущности и пользователь мессенджера может не иметь аккаунта в телеграме, как и
наоборот). Если же это поле не пустое, то в чат/пользователю могут писать только те пользователи мессенджера,
которые состоят в указанной в этом поле группе.<br/>
Добавлять пользователей в группы можно из <a href="{% url 'admin:index' %}">джанго-админки</a>


<p><strong>Методы:</strong></p>

<table class="table">
    <thead>
        <tr>
            <td>Метод</td>
            <td>Аргументы</td>
            <td>Возвращаемое значение</td>
            <td>Описание</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>user_message</td>
        <td>to, text</td>
        <td>id отправленного сообщения</td>
        <td>отправляет сообщение пользователю</td>
    </tr>
    <tr>
        <td>chat_message</td>
        <td>to, text</td>
        <td>id отправленного сообщения</td>
        <td>отправляет сообщение в чат</td>
    </tr>
    <tr>
        <td>get_message</td>
        <td>msg_id</td>
        <td>body: Tекст сообщения<br/>
            id: номер сообщения <br/>
            tg_id: уникальный для диалога номер сообщения (присваевается телеграмом)<br/>
            recipient: имя получателя<br/>
            sender: имя отправителя<br/>
            time: время сообщения <br/>
            reply: для ответа - номер исходного сообщения, если сообщение не является ответом - null
        </td>
        <td>возвращает сообщение с указанным id
            Если в теле сообщения не текст (а, например, стикер с котиком), то он заменяется текстом &lt;can't display a cat&gt;
        </td>
    </tr>
    <tr>
        <td>get_messages</td>
        <td>sender=null, recipient=null, time_from=null, limit=null</td>
        <td>список объектов, аналогичных, возвращаемым методом <b>get_messages</b>
        </td>
        <td>возвращает массив сообщений, полученных не ранее time_from (по умолчанию - все)
            максимум limit сообщений (по умолчанию - без ограничения)
            отправленных юзером sender или из чата sender
            и полученных юзером или в чат recipient.
            Если в теле сообщения не текст (а, например, стикер с котиком), то он заменяется текстом &lt;can't display a cat&gt;
        </td>
    </tbody>
</table>


<p><strong>Ошибки:</strong></p>

В дополнение к <a href="http://www.jsonrpc.org/specification#error_object">стандартым кодам ошибок</a>
добавлено несколько своих специфических.

<table class="table">
    <thead>
        <tr>
            <td>Код ошибки</td>
            <td>Текст ошибки</td>
            <td>Описание</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>32001</td>
        <td>Authentication Required</td>
        <td>Не указаны, либо неверно указаны аутентификационные данные (юзер/логин)</td>
    </tr>
    <tr>
        <td>32002</td>
        <td>You are not allowed to send messages to that user/chat</td>
        <td>Аутентифицированный пользователь не имеет права отправлять сообщения пользоватею или в чат</td>
    </tr>
    </tbody>
</table>


<p><strong>Примеры вызова методов:</strong></p>
Пример сферического запроса в вакууме:
<pre>
{
    "method": "method_name",
    "params": {
        "param1": "val1",
        "param2": "val2",
    },
    "id": 1,
    "jsonrpc": "2.0"
}
</pre>
Пример ответа:

<pre>
{
    "error": null,
    "result": [
        { "id": 12333, "body": "asdasdf as dasdas"},
        { "id": 12334, "body": "asdasdf as dasdas"},
        { "id": 12335, "body": "asdasdf as dasdas"},
    ],
    "id": 1,
    "jsonrpc": "2.0"
}
</pre>


Пример отправки сообщения пользователю username:
<pre>
{
    "method": "user_message",
    "params": { "to": "username", "text": "Test message for Username" },
    "id": 1,
    "jsonrpc": "2.0"
}
</pre>

<pre>
{
    "error": null,
    "result": "sent successfully",
    "id": 1,
    "jsonrpc": "2.0"
}
</pre>

Чтение полученых сообщений:
все сообщения от всех юзеров за всё время:
<pre>
{
    "method": "get_messages",
    "params": {},
    "jsonrpc": "2.0",
    "id": 1
}
</pre>
<pre>
{
    "jsonrpc": "2.0",
    "result": [
        {"body": "hello", "tg_id": 354, "recipient": "new_chat7", "sender": "tgsrv", "time": "2015-08-14T16:30:51+00:00", "reply": null},
        {"body": "hello", "tg_id": 353, "recipient": "new_chat4", "sender": "tgsrv", "time": "2015-08-14T16:29:52+00:00", "reply": null},
        {"body": "&lt;can't display a cat&gt;", "tg_id": 352, "recipient": "new_chat6", "sender": "vonabarak", "time": "2015-08-14T16:12:17+00:00", "reply": null},
        {"body": "123", "tg_id": 351, "recipient": "new_chat6", "sender": "tgsrv", "time": "2015-08-14T16:11:35+00:00", "reply": null},
        {"body": "hello", "tg_id": 343, "recipient": "vonabarak", "sender": "tgsrv", "time": "2015-08-14T14:54:19+00:00", "reply": null},
        {"body": "hello", "tg_id": 342, "recipient": "vonabarak", "sender": "tgsrv", "time": "2015-08-14T14:50:50+00:00", "reply": null},
        {"body": "qweqew", "tg_id": 341, "recipient": "vonabarak", "sender": "tgsrv", "time": "2015-08-14T14:50:02+00:00", "reply": null},
        {"body": "123", "tg_id": 340, "recipient": "vonabarak", "sender": "tgsrv", "time": "2015-08-14T14:49:43+00:00", "reply": null},
        {"body": "123123", "tg_id": 339, "recipient": "vonabarak", "sender": "tgsrv", "time": "2015-08-14T14:38:40+00:00", "reply": null}
    ],
    "id": 0
}
</pre>
Сообщения от юзера vonabarak в чат new_chat6, полученные после 16:00 2015-08-14:
<pre>
{
    "method": "get_messages",
    "params": {"sender":"vonabarak", "recipient":"new_chat6", "time_from":"2015-08-14T16:00:00" },
    "jsonrpc": "2.0",
    "id": 0
}
</pre>
<pre>
{
    "jsonrpc": "2.0",
    "result": [
        {"body": "&lt;can't display a cat&gt;", "tg_id": 352, "recipient": "new_chat6", "sender": "vonabarak", "time": "2015-08-14T16:12:17+00:00", "reply": null}
    ],
    "id": 0
}
</pre>

<p><strong>Примеры ошибок:</strong></p>
Неверный параметр метода:
<pre>
{
    "method": "get_messages",
    "params": {"foo": "bar" },
    "jsonrpc": "2.0",
    "id": 0
}
</pre>
<pre>
{
    "jsonrpc": "2.0",
    "id": 0, 
    "error": {
        "message": "Invalid params",
        "code": -32602,
        "data": {
            "message": "get_messages() got an unexpected keyword argument 'foo'", 
            "args": ["get_messages() got an unexpected keyword argument 'foo'"], 
            "type": "TypeError"
        }
    }
}
</pre>
Попытка вызова несуществующего метода:
<pre>
{
    "method": "Fooooooo",
    "params": {"foo": "bar" },
    "jsonrpc": "2.0",
    "id": 0
}
</pre>
<pre>
{
    "jsonrpc": "2.0", 
    "id": 0, 
    "error": {
        "message": "Method not found", 
        "code": -32601
    }
}
</pre>


{% endblock %}
