{% extends 'bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block bootstrap3_content %}
{% load tags %}
<link href="{% static 'css/notifier.css' %}" rel="stylesheet">
<nav class="navbar navbar-static-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="/">
        <span class='tip-on-hover'><img src="{% static 'img/favicon.png'%}" style='margin-top: -13px'>
            <span class='tip'></span>
        </span>
        <span style="font-size:30px; font-weight:bold; color: darkblue">AGA<span style="color: green">V</span>A</span>
    </a>
    </div>
    <div class="navbar-collapse collapse" id='main_nav'>
    {% url 'messages' as msgs %}
    {% url 'chats' as chats %}
    {% url 'responders' as responders %}
    {% url 'sendmessage' as sendmessage %}
    <ul class="nav navbar-nav">
        <li class={% active request msgs %}><a href="{{ msgs }}">Сообщения</a></li>
        <li class={% active request chats %}><a href="{{ chats }}">Чаты</a></li>
        <li class={% active request responders %}><a href="{{ responders }}">Пользователи</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        {% if user.is_authenticated %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Привет, <strong>{{ user.username }}</strong>!
            </a>
            <ul class="dropdown-menu" role="menu">
                {% if user.is_superuser %}
                <li><a href="{% url 'log' %}">Журнал ошибок</a></li>
                <li class="divider"></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Выйти</a></li>
                <li class="divider"></li>
            </ul>
        {% else %}
            <a href="{% url 'login' %}">Привет, гость!</a>
        {% endif %}
        </li>
    </ul>
    </div>

        {% bootstrap_messages %}
        {#<h1>{% block title %}(no title){% endblock %}</h1>#}

</nav>
    <div class="container">
        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
