{% extends 'base.html' %}

{% block title %}Agava мессенджер{% endblock %}

{% block content %}
<strong>Изменения</strong>
    <table class="table">
    <thead>
        <tr>
            <td>Дата</td>
            <td>Описание</td>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>24.09.2015</td>
        <td>API методы user_message и chat_message в случае успешной отправки теперь возвращают не строку
            'sent successfully' а id отправленного сообщения.</td>
    </tr>
    </tbody>
    </table>
    <p></p>


{% endblock %}
