{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Chats{% endblock %}

{% block content %}

    <table class="table">
            <tr>
                <th>#</th>
                <th>Agava's name</th>
                <th>title</th>
                <th>type</th>
            </tr>
        {% for line in lines %}
            <tr>
                <td>{{ line.id }}</td>
                <td>
                    <a href="{% url 'sendmessage' %}?id={{line.id}}">{{ line.internal_name }}</a>
{#                    <a class="edit_link" href="{% url 'editchat' %}?id={{ line.id }}"><span>редактировать</span></a>#}
                </td>
                <td>{{ line.title }}</td>
                <td>{{ line.type }}</td>
            </tr>
        {% endfor %}
    </table>

    <hr>

    {% bootstrap_pagination lines size="small" %}

{% endblock %}
