{% extends 'base.html' %}

{% block title %}Agava мессенджер{% endblock %}

{% block content %}
<strong> Стартовая страничка </strong>

    <p><a href="{% url 'changelog' %}">Изменения в API</a></p>
    <p><a href="{% url 'api' %}">Описание API</a></p>
{% endblock %}
