{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
    Messages
{% endblock %}

{% block content %}

    <table class="table">
            <tr>
                <th>#</th>
{#                <th>telegram id</th>#}
                <th>time</th>
                <th>responder</th>
                <th>chat</th>
                <th>reply_to</th>
                <th>text</th>
            </tr>
        {% for line in lines %}
            <tr>
                <td>{{ line.id }}</td>
{#                <td>{{ line.tg_id }}</td>#}
                <td>{{ line.date }}</td>
                <td>{{ line.responder }}</td>
                <td>{{ line.chat }}</td>
                <td>{{ line.reply_to.id}}</td>
                <td>{{ line.text }}</td>
            </tr>
        {% endfor %}
    </table>

    <hr>

    {% bootstrap_pagination lines size="small" %}

{% endblock %}
