{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Users{% endblock %}

{% block content %}

    <table class="table">
            <tr>
                <th>#</th>
                <th>Agava's nickname</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>username</th>
            </tr>
        {% for line in lines %}
            <tr>
                <td>
                    {{ line.tg_id }}
                    {% if user.is_staff %}
                    <a class="edit_link" href="{% url 'editresponder' pk=line.id %}">
                        <span>редактировать</span>
                    </a>
                    {% endif %}
                </td>
                <td>{{ line.internal_name }}</td>
                <td>{{ line.first_name }}</td>
                <td>{{ line.last_name }}</td>
                <td>{{ line.username }}</td>
            </tr>
        {% endfor %}
    </table>

    <hr>

    {% bootstrap_pagination lines size="small" %}

{% endblock %}
